@media screen and (min-width: 1025px) {
    body {
        margin: 0 auto;
        background-color: #f0f5f9;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    body {
        margin: 0 auto;
        background-color: #f0f5f9;
    }
}
@media screen and (max-width: 768px) {
    body {
        margin: 0 auto;
        background-color: #f0f5f9;
    }
}
body{
    font-family: 楷体, serif;
}

/*头部*/
.header{
    position: relative;
    height: 3rem;
    line-height: 3rem;
    background-color: #c9d6df;
}
.header .header-title p{
    position: absolute;
    text-align: center;
    font-size: 2rem;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-20%);
}

/*内容*/
.content{
    margin-top: 10px;
}
/*信息部分*/
.content .info-box{
    margin: 0 auto;
    width: 90%;
    /*  卡片  */
    box-shadow: 0 0 28px rgba(0,0,0,.07); /* 阴影  */
    border-radius: 5px; /*  圆角  */
    background-color: #dbe2ef;
    overflow: hidden;
    -webkit-transition: all 0.5s;
}
.content .info-box .content-info{
    margin: 6px 0;
}
.content .info-box .content-info .info-title{
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    font-size: 2rem;
}

.content .info-box .info-content{
    width: 70%;
    margin: 0 auto;
    padding: 0 1rem;
    overflow: hidden;
}
.content .info-box .info-content p{
    text-align: center;
    width: 20rem;
    height: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0.5rem 1rem 1rem 1rem;
    /*  立体卡片  */
    box-shadow: 0 0 28px rgba(0,0,0,.07);
    border-radius: 5px;
    background-color: #dbe2ef;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    cursor: pointer;
}

/*项目部分*/
.content .project-box{
    margin: 0.5rem auto;
    width: 90%;
    /*  卡片  */
    box-shadow: 0 0 28px rgba(0,0,0,.07);
    border-radius: 5px;
    background-color: #dbe2ef;
    overflow: hidden;
    -webkit-transition: all 0.5s;
}
.content .project-box .project-title{
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 2rem;
    background-color: #c9d6df;
    overflow: hidden;
}
.content .project-box .project-content{
    width: 70%;
    margin: 0 auto;
    padding: 0 1rem;
}
.content .project-box .project-content button{
    margin: 0.5rem 1rem 1rem 1rem;
    border: 1px solid #61dafb;
    height: 3rem;
    width: 24rem;
}